# Node dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
public/admin/
public/uploads/
public/markers.json

# Local configurations & data storage
server/storage/*.json
!server/storage/settings.json.example
.env
.env.*

# OS files
.DS_Store
Thumbs.db
